.parte_giorgia {
  background-color: #ffffff;
}

h1 {
  font-size: xx-large;
}

.switch {
  width: 100%;
}

.titolo_gaming_system {
  color: #484848;
  font-weight: bold;
}

.immagine_switch {
  margin: 2rem 0;
}

.sottotitolo_gaming_system {
  color: #484848;
  font-weight: bold;
  display: inline;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: xx-large;
}

.sottotitolo_gaming_system h2 {
  font-size: 1.4rem;
}

#id_bottone_gaming_system {
  margin-left: 2rem;
}

#id_bottone_gaming_system h3 {
  font-size: 20px;
}

/* color bianco non viene applicato*/
.button_gs {
  background-color: #e60012;
  color: #fffff7;
  border-color: #e60012;
  width: 11rem;
  height: 4rem;
  font-weight: bold;
  font-size: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.button_gs h3 {
  color: #fffff7;
}

/* color bianco non viene applicato*/
.button_gs:hover {
  background-color: #ac000d;
  color: #fffff7 !important;
  border-color: #ac000d;
  width: 145px;
  height: 51px;
  font-weight: bold;
  font-size: 15px;
  transition: 0.5s;
}

.gruppo_sottotitolo_gs {
  display: flex;
  align-items: center;
}

.blocco_giorgia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#id_titolo_gs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.titolo_news {
  color: #484848;
  font-weight: bold;
  padding-left: 15%;
  display: inline;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 2%;
}

.girl_news {
  width: 570px;
  border-radius: 1%;
}

.girl_news:hover {
  width: 570px;
  border-radius: 1%;
  filter: brightness(0%);
  -webkit-filter: brightness(70%);
  transition: 0.3s ease;
}

.data_news {
  color: #484848;
  display: inline;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 1%;
}

.h3_news1 {
  color: #484848;
  font-weight: bold;
  display: inline;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 3%;
}

.descrizione_news1 {
  padding-top: 2%;
}

.read_news1 {
  color: #e60012;
  font-weight: bold;
  padding-top: 6%;
  text-decoration: underline;
}

.read_news1:hover {
  color: #ac000d;
  font-weight: bold;
  text-decoration: underline;
}

.read_news2 {
  color: #e60012;
  font-weight: bold;
  padding-top: 6%;
  text-decoration: underline;
}

.read_news2:hover {
  color: #ac000d;
  font-weight: bold;
  text-decoration: underline;
}

.read_news3 {
  color: #e60012;
  font-weight: bold;
  padding-top: 6%;
  text-decoration: underline;
}

.read_news3:hover {
  color: #ac000d;
  font-weight: bold;
  text-decoration: underline;
}

.read_news4 {
  color: #e60012;
  font-weight: bold;
  padding-top: 6%;
  text-decoration: underline;
}

.read_news4:hover {
  color: #ac000d;
  font-weight: bold;
  text-decoration: underline;
}

.read_news5 {
  color: #e60012;
  font-weight: bold;
  padding-top: 6%;
  text-decoration: underline;
}

.read_news5:hover {
  color: #ac000d;
  font-weight: bold;
  text-decoration: underline;
}

.read_news6 {
  color: #e60012;
  font-weight: bold;
  padding-top: 6%;
  text-decoration: underline;
}

.read_news6:hover {
  color: #ac000d;
  font-weight: bold;
  text-decoration: underline;
}

.apex_news {
  width: 570px;
  border-radius: 1%;
}

.apex_news:hover {
  width: 570px;
  border-radius: 1%;
  filter: brightness(0%);
  -webkit-filter: brightness(70%);
  transition: 0.3s ease;
}

.sezioni_news {
  display: flex;
  padding-left: 13%;
}

.sezione1_news {
  padding: 2.5%;
}

.sezione2_news {
  padding-top: 2.5%;
}

.h3_news2 {
  color: #484848;
  font-weight: bold;
  display: inline;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 3%;
}

.h3_news1:hover {
  color: #e60012;
}

.h3_news2:hover {
  color: #e60012;
}

.descrizione_news2 {
  padding-top: 6%;
}

.sezioni_mini_news {
  display: flex;
  padding-left: 13%;
  padding-top: 2.5%;
}

.sezione3_news {
  padding: 2%;
}

.sezione4_news {
  padding: 2%;
}

.sezione5_news {
  padding: 2%;
}

.sezione6_news {
  padding: 2%;
}

.pokemon_news {
  border-radius: 2%;
  width: 250px;
}

.pokemon_news:hover {
  filter: brightness(0%);
  -webkit-filter: brightness(70%);
  transition: 0.3s ease;
}

.pokemon_unite_news {
  border-radius: 2%;
  width: 250px;
}

.pokemon_unite_news:hover {
  filter: brightness(0%);
  -webkit-filter: brightness(70%);
  transition: 0.3s ease;
}

.baseball_news {
  border-radius: 2%;
  width: 250px;
}

.baseball_news:hover {
  filter: brightness(0%);
  -webkit-filter: brightness(70%);
  transition: 0.3s ease;
}

.volleyball_news {
  border-radius: 2%;
  width: 250px;
}

.volleyball_news:hover {
  filter: brightness(0%);
  -webkit-filter: brightness(70%);
  transition: 0.3s ease;
}

/* color bianco non viene applicato*/
.button_news {
  background-color: #e60012;
  color: #fffff7 !important;
  border-color: #e60012;
  width: 250px;
  height: 46px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/* color bianco non viene applicato*/
.button_news:hover {
  background-color: #ac000d;
  color: #fffff7 !important;
  border-color: #ac000d;
  width: 255px;
  height: 51px;
  font-weight: bold;
  font-size: 15px;
  transition: 0.5s;
}

.bottone_news {
  display: flex;
  flex-direction: column;
  padding-left: 15%;
  padding-top: 1%;
}

.descrizione_news3 {
  padding-top: 6%;
}

.descrizione_news4 {
  padding-top: 6%;
}

.descrizione_news5 {
  padding-top: 6%;
}

.descrizione_news6 {
  padding-top: 6%;
}

@media only screen and (max-width: 768px) {
  .blocco_giorgia {
    display: flex;
    flex-direction: column;
  }

  .titolo_gaming_system {
    color: #484848;
    font-weight: bold;
    padding-top: 5%;
    font-size: small;
    margin-left: -0.5cm;
  }

  .gruppo_sottotitolo_gs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4;
  }
  .sottotitolo_gaming_system {
    color: #484848;
    font-weight: bold;
    font-size: small;
    display: grid;
    grid-column: 1;
    grid-row: 1;
    margin-left: -0.5cm;
  }

  .switch {
    width: 600px;
    margin-left: -0.5cm;
  }

  .button_gaming_system {
    display: grid;
    grid-column: 1;
    grid-row: 2;
    margin-left: -0.5cm;
  }
  /* color bianco non viene applicato*/
  .button_gs {
    background-color: #e60012;
    color: #fffff7;
    border-color: #e60012;
    width: 580px;
    font-weight: bold;
    font-size: 12px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  /* color bianco non viene applicato*/
  .button_gs:hover {
    background-color: #ac000d;
    color: #fffff7;
    border-color: #ac000d;
    width: 600px;
    height: 61px;
    font-weight: bold;
    font-size: 15px;
    transition: 0.5s;
  }

  .titolo_news {
    color: #484848;
    font-weight: bold;
    padding-left: 15%;
    display: inline;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 2%;
    font-size: small;
    padding-top: 60px;
    margin-left: -0.5cm;
  }

  .sezioni_news {
    display: grid;
    grid-template-columns: 2;
  }

  .sezione1_news {
    padding-top: 2.5%;
    grid-column: 1;
    grid-row: 1;
    margin-left: -0.5cm;
  }

  .sezione2_news {
    padding-top: 2.5%;
    grid-column: 2;
    grid-row: 1;
  }

  .girl_news {
    width: 270px;
    border-radius: 1%;
  }

  .girl_news:hover {
    width: 270px;
    border-radius: 1%;
    filter: brightness(0%);
    -webkit-filter: brightness(70%);
    transition: 0.3s ease;
  }

  .data_news {
    color: #484848;
    display: inline;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 1%;
    font-size: small;
  }

  .h3_news1 {
    color: #484848;
    font-weight: bold;
    display: inline;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 3%;
    font-size: small;
  }

  .descrizione_news1 {
    padding-top: 2%;
    font-size: small;
  }

  .read_news1 {
    color: #e60012;
    font-weight: bold;
    padding-top: 6%;
    font-size: small;
  }

  .read_news1:hover {
    color: #ac000d;
    font-weight: bold;
    font-size: small;
  }

  .read_news2 {
    color: #e60012;
    font-weight: bold;
    padding-top: 6%;
    font-size: small;
  }

  .read_news2:hover {
    color: #ac000d;
    font-weight: bold;
    font-size: small;
  }

  .read_news3 {
    color: #e60012;
    font-weight: bold;
    padding-top: 1cm;
    font-size: small;
  }

  .read_news3:hover {
    color: #ac000d;
    font-weight: bold;
    font-size: small;
  }

  .read_news4 {
    color: #e60012;
    font-weight: bold;
    padding-top: 25%;
    font-size: small;
  }

  .read_news4:hover {
    color: #ac000d;
    font-weight: bold;
    font-size: small;
  }

  .read_news5 {
    color: #e60012;
    font-weight: bold;
    padding-top: 25%;
    font-size: small;
  }

  .read_news5:hover {
    color: #ac000d;
    font-weight: bold;
    font-size: small;
  }

  .read_news6 {
    color: #e60012;
    font-weight: bold;
    padding-top: 25%;
    font-size: small;
  }

  .read_news6:hover {
    color: #ac000d;
    font-weight: bold;
    font-size: small;
  }
  .apex_news {
    width: 270px;
    border-radius: 1%;
  }

  .apex_news:hover {
    width: 270px;
    border-radius: 1%;
    filter: brightness(0%);
    -webkit-filter: brightness(70%);
    transition: 0.3s ease;
  }

  .h3_news2 {
    color: #484848;
    font-weight: bold;
    display: inline;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 3%;
    font-size: small;
  }

  .h3_news1:hover {
    color: #e60012;
    font-size: small;
  }

  .h3_news2:hover {
    color: #e60012;
    font-size: small;
  }

  .descrizione_news2 {
    padding-top: 12%;
    font-size: small;
  }

  .descrizione_news3 {
    padding-top: 12%;
    font-size: 71%;
  }

  .descrizione_news4 {
    padding-top: 12%;
    font-size: small;
  }

  .descrizione_news5 {
    padding-top: 12%;
    font-size: small;
  }

  .descrizione_news6 {
    padding-top: 12%;
    font-size: small;
  }

  .sezioni_mini_news {
    margin-left: -0.5cm;
  }

  .pokemon_news {
    border-radius: 2%;
    width: 100px;
  }

  .pokemon_unite_news {
    border-radius: 2%;
    width: 100px;
  }

  .baseball_news {
    border-radius: 2%;
    width: 100px;
  }

  .volleyball_news {
    border-radius: 2%;
    width: 100px;
  }
  /* color bianco non viene applicato*/
  .button_news {
    background-color: #e60012;
    color: #fffff7;
    border-color: #e60012;
    width: 580px;
    height: 46px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -0.5cm;
  }
  /* color bianco non viene applicato*/
  .button_news:hover {
    background-color: #ac000d;
    color: #fffff7;
    border-color: #ac000d;
    width: 600px;
    height: 61px;
    font-weight: bold;
    font-size: 15px;
    transition: 0.5s;
  }

  .bottone_news {
    display: grid;
    grid-column: 1;
    grid-row: 2;
  }
}

@media only screen and (max-width: 320px) {
  .blocco_giorgia {
    display: flex;
    flex-direction: column;
  }

  .titolo_gaming_system {
    color: #484848;
    font-weight: bold;
    padding-top: 5%;
    font-size: xx-small;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: -1cm;
  }

  .switch {
    width: 270px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: -1cm;
  }

  .gruppo_sottotitolo_gs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4;
  }
  .sottotitolo_gaming_system {
    color: #484848;
    font-weight: bold;
    font-size: xx-small;
    display: grid;
    grid-column: 1;
    grid-row: 1;
    margin-left: -1cm;
  }

  .button_gaming_system {
    display: grid;
    grid-column: 1;
    grid-row: 2;
  }

  /* color bianco non viene applicato*/
  .button_gs {
    background-color: #e60012;
    color: #fffff7;
    border-color: #e60012;
    width: 290px;
    font-weight: bold;
    font-size: 12px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: -1cm;
  }
  /* color bianco non viene applicato*/
  .button_gs:hover {
    background-color: #ac000d;
    color: #fffff7;
    border-color: #ac000d;
    width: 300px;
    height: 51px;
    font-weight: bold;
    font-size: 15px;
    transition: 0.5s;
  }

  .titolo_news {
    color: #484848;
    font-weight: bold;
    padding-left: 15%;
    display: inline;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 2%;
    font-size: xx-small;
    padding-top: 30px;
    margin-left: -1cm;
  }

  .sezioni_news {
    display: grid;
    grid-template-columns: 2;
  }

  .sezione1_news {
    padding-top: 2.5%;
    grid-column: 1;
    grid-row: 1;
    margin-left: -1cm;
  }

  .sezione2_news {
    padding-top: 2.5%;
    grid-column: 1;
    grid-row: 2;
    margin-left: -1cm;
  }

  .sezioni_mini_news {
    display: grid;
    grid-template-columns: 2;
    grid-row: 2;
    margin-left: -1cm;
  }

  .sezione3_news {
    grid-column: 1;
    grid-row: 1;
  }

  .sezione4_news {
    grid-column: 2;
    grid-row: 1;
  }
  /* color bianco non viene applicato*/
  .button_news {
    background-color: #e60012;
    color: #fffff7;
    border-color: #e60012;
    width: 280px;
    height: 46px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* color bianco non viene applicato*/
  .button_news:hover {
    background-color: #ac000d;
    color: #fffff7;
    border-color: #ac000d;
    width: 320px;
    height: 51px;
    font-weight: bold;
    font-size: 15px;
    transition: 0.5s;
  }

  .bottone_news {
    display: grid;
    grid-column: 1;
    grid-row: 2;
  }
}
