.mobileNav {
  display: none;
}

.overlay {
  display: none;
}

.wrapper .top_nav {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  height: 52px;
  border-bottom: 1px solid rgb(218, 218, 218);
  background-color: #ffffff;
}

.wrapper .top_nav .left {
  display: flex;
  align-items: center;
}

.wrapper .top_nav .top_nav_left_logo {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 51px;
  width: 105px;
  background: var(--firstColor);
  margin-right: 1rem;
}

.wrapper .top_nav .top_nav_left_logo svg {
  display: block;
  margin: auto;
}

.wrapper .top_nav_left_search .search_bar {
  border-bottom: 1px solid rgb(72, 72, 72);
  height: 1.7rem;
  width: 29.125rem;
}

.wrapper .top_nav_left_search .formStyle {
  display: flex;
  align-items: center;
  width: 28.125rem;
  font-size: 0.875rem;
}

.wrapper .top_nav_left_search .formStyle .inputStyle {
  display: grid;
  grid-template-columns: 1.125rem 1fr;
  column-gap: 0.625rem;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.wrapper .top_nav_left_search .formStyle .inputStyle .searchBox {
  position: relative;
  width: 100%;
  height: 100%;
}

.wrapper .top_nav .left .search_bar input[type="text"] {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  background: none;
  border: none;
  color: rgb(114, 114, 114);
  height: 100%;
  min-width: 300px;
  line-height: 1.5;
  padding: 0px;
}

.wrapper .top_nav .left .search_bar input[type="text"]:focus {
  border: none;
  outline: none;
}

.wrapper .top_nav_left_search .formStyle .categoriesDropdown {
  display: flex;
  align-items: center;
}

.dropdown {
  color: rgb(72, 72, 72);
  margin-left: 0px;

  width: auto;
  min-width: max-content;
  text-align: center;
}

.dropdown .dropbtn {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  font-weight: bold;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  /* padding: 14px 16px; */
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown .dropbtn svg {
  margin-left: 15px;
  margin-top: 5px;
}

.dropdown .dropbtn:hover {
  color: #ff0000;
}

.dropdown .dropbtn:hover svg {
  filter: invert(26%) sepia(96%) saturate(7426%) hue-rotate(359deg)
    brightness(96%) contrast(119%);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: rgb(110, 110, 110);
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 0px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-weight: 700;
  font-size: 0.875rem;
  min-height: fit-content;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.wrapper .top_nav .right ul {
  display: flex;
}

.wrapper .top_nav .right ul li {
  margin: 0 15px;
}

.wrapper .top_nav .right ul li a {
  display: flex;
  font-size: 0.9rem;
  align-items: center;
  color: #000000;
  font-weight: bold;
}

.wrapper .top_nav .right ul li a svg {
  margin-right: 8px;
}

.wrapper .top_nav .right ul li a:hover {
  color: #ff0000;
}

.wrapper .top_nav .right ul li a:hover svg {
  filter: invert(26%) sepia(96%) saturate(7426%) hue-rotate(359deg)
    brightness(96%) contrast(119%);
}

.wrapper .bottom_nav {
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(218, 218, 218);
  height: 44px;
  padding: 0 50px;
  display: flex;
  align-items: center;
}

.wrapper .bottom_nav .mainUl {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.wrapper .bottom_nav ul li a {
  display: flex;
  align-items: center;
  color: #494949;
  font-size: 1rem;
  font-weight: bold;
  padding: 12px;
}

.wrapper .bottom_nav ul li a svg {
  margin-right: 8px;
  margin-left: 8px;
}

.wrapper .bottom_nav ul li a:hover {
  color: #ff0000;
}

/* FUNZIONE DA IMPLEMENTARE DI OSCURAMENTO DELLO SCHERMO SUI MENU */
#blackScreen {
  visibility: hidden;
  opacity: 1;
  transition: opacity 200ms ease 0s;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
} 

.wrapper .bottom_nav ul li a:hover svg {
  filter: invert(26%) sepia(96%) saturate(7426%) hue-rotate(359deg)
    brightness(96%) contrast(119%);
}

/* Menu grande a comparsa */
.wrapper .bottom_nav li ul {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  height: 340px;
  position: fixed;
  top: 96px;
  left: 0px;
  width: 100%;
  z-index: 1000;
  margin: 0px auto;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

/* Menu grande a comparsa modificato per Games */
.wrapper .bottom_nav li .subMenuGames {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  height: 200px;
  position: fixed;
  top: 96px;
  left: 0px;
  width: 100%;
  z-index: 1000;
  margin: 0px auto;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

.wrapper .bottom_nav li:hover ul {
  display: block;
}

.menuBackground {
  width: 100%;
  height: 64px;
  background-color: rgb(230, 0, 18);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  position: relative;
  margin-bottom: 50px;
}

.buttonCool {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.buttonCool button {
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  border-color: rgb(230, 0, 18);
  border-width: 1px;
  border-style: solid;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.buttonCool button:hover {
  background-color: rgba(255, 0, 0, 0.405);
  color: #ff0000;
  border-style: solid;
  padding: 1.2rem 2.5rem;
  border-radius: 0.25rem;
  transition: 0.3s;
}

.menuBackground svg {
  filter: invert(100%) sepia(44%) saturate(100%) hue-rotate(359deg)
    brightness(200%) contrast(100%);
}

.fancyBorder {
  position: absolute;
  width: 100%;
  height: 14px;
  background-size: auto 14px;
  background-repeat: repeat-x;
  z-index: 1;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iNDVweCIgaGVpZ2h0PSIxNHB4IiB2aWV3Qm94PSIwIDAgNDUgMTQiIHZlcnNpb249IjEuMSIKICAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDx0aXRsZT5TdG9yZWZyb250LWF3bmluZy1wYXR0ZXJuPC90aXRsZT4KICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxnIGlkPSJTdG9yZWZyb250LWF3bmluZy1wYXR0ZXJuIiBmaWxsPSIjRTYwMDEyIiBmaWxsLXJ1bGU9Im5vbnplcm8iPgogICAgICAgICAgICA8cGF0aCBkPSJNNDUsMCBMMCwwIEwwLDEzLjc3MzY4IEMxLjMzMzAyMDAxLDEzLjgzNzcxOTMgMi42NDkxNDAxMywxMy40NTM5MDE4IDMuNzM4NzcsMTIuNjgzMzUgTDE5LjI4NDQ4LDEuNjI4NjYgQzIxLjM2NjIzOTQsMC4xNDgzMTg1OTggMjQuMTU3MDEwNiwwLjE0ODMxODU5OCAyNi4yMzg3NywxLjYyODY2IEw0MS43ODQ0OCwxMi42ODMzNSBDNDIuNzI4MzU2MywxMy4zNTAwNDM4IDQzLjg0NTI4NSwxMy43Mjg3NzYgNDUsMTMuNzczNjggTDQ1LDAgWiIgaWQ9IlBhdGgiPjwvcGF0aD4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPg==);
  bottom: -14px;
}

.subM {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  gap: 1.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1440px;
  min-width: calc(1024px - 2rem);
  margin: 10px auto;
}

.wrapper .bottom_nav ul li ul li a {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  font-size: 0.875rem;
  font-weight: normal;
}

.wrapper .bottom_nav ul li ul li a.firstA {
  font-weight: bold;
}

.wrapper .bottom_nav ul li ul li a.firstA svg {
  filter: invert(14%) sepia(40%) saturate(5000%) hue-rotate(337deg)
    brightness(80%) contrast(143%);
}

.buttonCoolGames {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
  width: 160px;
  height: max-content;
}

.buttonCoolGames button {
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  border-color: rgb(230, 0, 18);
  border-width: 1px;
  border-style: solid;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  cursor: pointer;
  height: 5rem;
  width: 8rem;
}

.buttonCoolGames button svg {
  display: block;
  margin: auto;
}

.buttonCoolGames button:hover {
  background-color: rgb(255, 0, 0);
  border-style: solid;
  transition: 0.5s;
}

.buttonCoolGames button:hover svg {
  filter: invert(100%) sepia(44%) saturate(100%) hue-rotate(359deg)
    brightness(200%) contrast(100%);
}

/* Allineare paragrafi quando uno è a capo */
.pGames {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
}

.imageStyles {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  padding: 0px;
}

.buttonCoolSwitch {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
  width: 160px;
  height: 100px;
}

.marginAdd {
  margin-right: 0.8rem;
}

.buttonCoolSwitch button {
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  border-color: rgb(230, 0, 18);
  border-width: 1px;
  border-style: solid;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  cursor: pointer;
  width: auto;
  height: 5rem;
  max-width: 100%;
  max-height: 100%;
  padding: 0px;
}

.buttonCoolSwitch button img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  padding: 0px;
}

.buttonCoolSwitch button:hover {
  background-color: rgb(255, 0, 0);
  border-style: solid;
  transition: 0.5s;
}

.buttonCoolGray button {
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  border-color: rgb(150, 150, 150);
  border-width: 1px;
  border-style: solid;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  cursor: pointer;
  height: 5rem;
  width: 8rem;
}

/* MEDIA QUERIES */

@media (max-width: 1108px) {
  .wrapper .top_nav .top_nav_left_logo svg {
    width: 5.8rem;
    height: 100%;
    margin-left: 1rem;
  }

  .wrapper .bottom_nav {
    display: none;
  }

  .wrapper .top_nav_left_search {
    display: none;
  }

  .wrapper .right {
    display: none;
  }

  .wrapper .top_nav {
    background-color: var(--firstColor);
  }

  .mobileNav {
    position: fixed;
    bottom: 0px;
    display: block;
    margin-bottom: calc(env(safe-area-inset-bottom) + 1.5rem);
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    height: 58px;
    width: 96%;
    max-width: 440px;
  }

  .mobileNavBar {
    position: relative;
    height: 58px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(239, 239, 239);
    border-radius: 100px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0.25rem 0.5rem 0px;
  }

  .styleNavS {
    display: flex;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex: 1 1 auto;
    position: relative;
    height: 58px;
  }

  .styleNavF {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0px;
    transition: all 200ms ease-in-out 0s;
  }

  .styleNavF:hover {
    filter: invert(15%) sepia(64%) saturate(7023%) hue-rotate(348deg)
      brightness(84%) contrast(117%);
  }

  .searchMobile {
    width: 60px;
    height: 60px;
    background: rgb(230, 0, 18);
    border: none;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-top: -1rem;
  }

  .searchMobile svg {
    filter: invert(100%) sepia(44%) saturate(100%) hue-rotate(359deg)
      brightness(200%) contrast(100%);
  }

  .shoppingMobile {
    display: grid;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    color: inherit;
  }

  #toggle {
    position: relative;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    background: var(--thirdColor);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
  }

  #toggle:hover {
    background: var(--firstColor);
    transition: 0.3s;
  }

  #toggle::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    background: #fff;
    transform: translateY(-3px);
    transition: 0.2s;
  }

  #toggle::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    background: #fff;
    transform: translateY(3px);
    transition: 0.2s;
  }

  #toggle.active::before {
    transform: translateY(0px) rotate(45deg);
  }

  #toggle.active::after {
    transform: translateY(0px) rotate(-45deg);
  }

  #toggle.active {
    background: var(--firstColor);
    transition: 0.3s;
  }

  .mobileSubMenu {
    padding-top: 40px;
    display: none;
    right: -1px;
    height: 34rem;
    padding-bottom: 30px;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    width: 100%;
    overflow: scroll;
    bottom: 0px;
    border-radius: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: -1;
  }

  /* Custom scrollbar start */

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
    display: none;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #de0000;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* Custom scrollbar end */

  .show {
    display: block;
  }

  .mobileSubMenu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .mobileLink {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    border-top: 1px solid rgb(218, 218, 218);
    border-bottom: 1px solid rgb(218, 218, 218);
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: -1px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: rgb(255, 255, 255);
  }

  .mobileLinkSub {
    display: flex;
  }

  .mobileLink a {
    padding: 12px 8px;
  }

  .mobileLink a:hover {
    color: var(--firstColor);
  }

  .pseudoLink {
    display: inline-block;
    padding: 12px 8px;
  }

  .pseudoLink:hover {
    color: var(--firstColor);
  }

  .mobileLink svg {
    filter: invert(14%) sepia(40%) saturate(5000%) hue-rotate(337deg)
      brightness(80%) contrast(143%);
  }

  .boxBottom {
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  .mobileLinkBottom {
    display: flex;
    align-items: center;
    height: 60px;
    border-top: 1px solid rgb(218, 218, 218);
    border-bottom: 1px solid rgb(218, 218, 218);
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: -1px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: rgb(255, 255, 255);
  }

  .mobileLinkBottom a {
    padding: 12px 8px;
  }

  .mobileLinkBottom a:hover {
    color: var(--firstColor);
  }

  .mobileLinkBottom svg {
    filter: invert(14%) sepia(40%) saturate(5000%) hue-rotate(337deg)
      brightness(80%) contrast(143%);
  }

  .mobileLinkBottomLanguage {
    display: flex;
    align-items: center;
    height: 60px;
    border-top: 1px solid rgb(218, 218, 218);
    border-bottom: 1px solid rgb(218, 218, 218);
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: -1px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: rgb(255, 255, 255);
  }

  .mobileLinkBottomLanguage a {
    padding: 12px 8px;
  }

  .mobileLinkBottomLanguage a:hover {
    color: var(--firstColor);
  }

  /* ACCORDION */

  /* body {
  overflow: hidden;
} */

  /* .wrapperMenu {
    max-width: 600px;
    width: 100%;
    margin: 10vh auto;
} */

.accordionInput {
    display: none;
  }

  label {
    display: flex;
    width: auto;
    height: auto;
    cursor: pointer;
    /* border: 3px solid #3E474F; */
    user-select: none;
  }

  label div:first-child {
    width: 100%;
    line-height: 45px;
    font-size: 1.2em;
  }

  .cross {
    margin-right: 15px;
    /* margin-top: 3px; */
  }

  .cross:before,
  .cross:after {
    content: "";
    border-top: 2px solid #3e474f;
    width: 15px;
    display: block;
    /* margin-top: 18px; */
    transition: 0.3s;
  }

  .cross:after {
    transform: rotate(90deg);
    margin-top: -2px;
  }

  .content {
    box-sizing: border-box;
    font-size: 0.9em;
    /* margin: 10px 10px; */
    max-height: 0;
    overflow: hidden;
    transition: max-height, 0.5s;
  }

  .accordionInput:checked ~ .content {
    max-height: 400px;
    transition: max-height, 1s;
  }

  .accordionInput:checked ~ label .cross:before {
    transform: rotate(180deg);
  }

  .accordionInput:checked ~ label .cross:after {
    transform: rotate(0deg);
  }

  /* FULL SCREEN SEARCH BOX - START */
 
  /* .openBtn {
    background: #f1f1f1;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
  } */
  
  .openBtn:hover {
    background: rgb(255, 0, 0);
  }
  
  .overlay {
    display: none;
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
  }
  
  .overlay-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
  }
  
  .overlay .closebtn:hover {
    color: #ccc;
  }
  
  #searchInputMobile {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: white;
  }
  
  #searchInputMobile:hover {
    background: #f1f1f1;
  }
  
  .overlay button {
    float: left;
    width: 20%;
    padding: 15px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .overlay button:hover {
    background: #bbb;
  }

  /* FULL SCREEN SEARCH BOX - END */
}