.characters {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1144px;
  margin: 0 auto;
  padding: 2rem 0;
  box-sizing: border-box;
}

.characters h2 {
  font-size: 1.75rem;
  padding: 0 1rem;
}

.characters h2::first-letter {
  text-transform: capitalize;
}

.characters ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.5rem;
}

.characters ul li {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 50%;
  padding: 0.5rem;
  box-sizing: border-box;
}

.characters .img-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-color: lime;
  overflow: hidden;
  border-radius: 0.25rem;
  box-shadow: 0 0 0 rgba(0,0,0,0);
  transition: all 0.5s ease-out;
}

.characters .img-container:hover {
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.33);
}

.characters .img-back, 
.characters .img-front {
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  transition: all 0.25s ease-in-out;
}

.characters .img-back {
  z-index: 1;
  transform: translate3d(-50%, -50%, 0) scale(1.15);
}

.characters .img-container:hover .img-back {
  transform: translate3d(-50%, -50%, 0) scale(1);
}

.characters .img-front {
  z-index: 10;
  transform: translate3d(-50%, -50%, 0) scale(1);
}

.characters .img-container:hover .img-front {
  transform: translate3d(-50%, -50%, 0) scale(1.1);
}

.characters h3 {
  text-transform: capitalize;
  font-size: 1.125rem;
  padding-top: 0.5rem;
}

.characters h3 sup {
  text-transform: uppercase;
  font-size: 0.75rem;
}

@media only screen and (min-width: 426px) {
  .characters ul li {
    flex-basis: 25%;
  }
  .characters h2 {

  }
  .characters h3 {
    padding-top: 1rem;
    font-size: 1.25rem;
  }
}