.parte_giorgia {
    background-color: #ffffff;
    
  }
  
  h1 {
    font-size: xx-large;
  
  }
  
  .switch {
    width: 100%;
    height: 100%;
  }
  
  .titolo_gaming_system {
    color: #484848;
    font-weight: bold;
    
  }
  
  .sottotitolo_gaming_system {
    color: #484848;
    font-weight: bold;
    display: inline;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: xx-large;
  }
  
  .button_gaming_system {
    padding-left: 3%;
    
  }
  
  /* color bianco non viene applicato*/
  .button_gs {
    background-color: #e60012;
    color: #fffff7;
    border-color: #e60012;
    width: 140px;
    height: 46px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .button_gs h3 {
      color: #fffff7;
  }
  
  /* color bianco non viene applicato*/
  .button_gs:hover {
    background-color: #ac000d;
    color: #fffff7 !important;
    border-color: #ac000d;
    width: 145px;
    height: 51px;
    font-weight: bold;
    font-size: 15px;
    transition: 0.5s;
  }
  
  .gruppo_sottotitolo_gs {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
  }
  
  .blocco_giorgia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    /* dimensione massima mantiene la responsività e regola l'immagine*/
    max-width: 71.5rem;
    
  }
  
  #id_titolo_gs {
    display: flex;
  }
  
  /*INIZIO PARTE NEWS 1 e 2*/
  
  .blocco_news{
    display: flex;
    justify-content: center
  }

  .sezioni_news {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
  }
  
  .sezione1_news{
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .sezione2_news{
    display: flex;
    flex-direction: column;
  }
  
  .titolo_news {
    color: #484848;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin: 30px;
    font-size: 100%;
  }
  
  .sottotitolo_news1{
    display: flex;
    flex-direction: column;
    
  }

  .titolo_news1{
    display: flex;
   
  }

  .sottotitolo_news1{
    display: flex;
  }

  .h3_news1 {
    color: #484848;
    font-weight: bold;
    font-size: 16px;
  
    
  }

  .h3_news2 {
    color: #484848;
    font-weight: bold;
    font-size: 16px;
    
  }
  
  .h3_news1:hover {
    color: #e60012;
  }
  
  .h3_news2:hover {
    color: #e60012;
  }
  
  .descrizione_news1{
    display: flex;
  }

  .immagine_girl{
    display: flex;
    justify-content: center;
  }
  
  .girl_news {
    width: 550.400px;
    border-radius: 1%;
  }
  
  .girl_news:hover {
    width: 570px;
    border-radius: 1%;
    filter: brightness(0%);
    -webkit-filter: brightness(70%);
    transition: 0.3s ease;
  }
  
  .immagine_apex{
    display: flex;
    justify-content: center;
  }

  .apex_news {
    width: 550.400px;
    border-radius: 1%;
  }
  
  .apex_news:hover {
    width: 570px;
    border-radius: 1%;
    filter: brightness(0%);
    -webkit-filter: brightness(70%);
    transition: 0.3s ease;
  }
  
  .scritte_news1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 560px;
    }

  .data_news1{
    display: flex;
    
  }

  .data_news {
    color: #484848;
  
  }
  
  .h3_news1 {
    color: #484848;
    font-weight: bold;
  
  
  }
  
  
  .read_news1 {
    color: #e60012;
    font-weight: bold;
    text-decoration: underline;
    
  }
  
  .read_news1:hover {
    color: #ac000d;
    font-weight: bold;
    text-decoration: underline;
  }
  
  .read_news2 {
    color: #e60012;
    font-weight: bold;
    text-decoration: underline;
  }
  
  .read_news2:hover {
    color: #ac000d;
    font-weight: bold;
    text-decoration: underline;
  }
  
  .read_news3 {
    color: #e60012;
    font-weight: bold;
    padding-top: 6%;
    text-decoration: underline;
  }
  
  .read_news3:hover {
    color: #ac000d;
    font-weight: bold;
    text-decoration: underline;
  }
  
  .read_news4 {
    color: #e60012;
    font-weight: bold;
    padding-top: 6%;
    text-decoration: underline;
  }
  
  .read_news4:hover {
    color: #ac000d;
    font-weight: bold;
    text-decoration: underline;
  }
  
  .read_news5 {
    color: #e60012;
    font-weight: bold;
    padding-top: 6%;
    text-decoration: underline;
  }
  
  .read_news5:hover {
    color: #ac000d;
    font-weight: bold;
    text-decoration: underline;
  }
  
  .read_news6 {
    color: #e60012;
    font-weight: bold;
    padding-top: 6%;
    text-decoration: underline;
  }
  
  .read_news6:hover {
    color: #ac000d;
    font-weight: bold;
    text-decoration: underline;
  }
  
  
  .sezioni_mini_news {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    gap: 40px;
    margin: 100px 0px 0px 0px;
  }

  

  .sezione3_news{
    display: flex;
    flex-direction: row;
    justify-content: center;

  }

  .scritte_news2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 240px;
  }
  .pokemon_news {
    border-radius: 2%;
    width: 250px;
  }
  
  .pokemon_news:hover {
    filter: brightness(0%);
    -webkit-filter: brightness(70%);
    transition: 0.3s ease;
  }
  
  .pokemon_unite_news {
    border-radius: 2%;
    width: 250px;
  }
  
  .pokemon_unite_news:hover {
    filter: brightness(0%);
    -webkit-filter: brightness(70%);
    transition: 0.3s ease;
  }
  
  .baseball_news {
    border-radius: 2%;
    width: 250px;
  }
  
  .baseball_news:hover {
    filter: brightness(0%);
    -webkit-filter: brightness(70%);
    transition: 0.3s ease;
  }
  
  .volleyball_news {
    border-radius: 2%;
    width: 250px;
  }
  
  .volleyball_news:hover {
    filter: brightness(0%);
    -webkit-filter: brightness(70%);
    transition: 0.3s ease;
  }
  
  /* color bianco non viene applicato*/
  .button_news {
    background-color: #e60012;
    color: #fffff7 !important;
    border-color: #e60012;
    width: 250px;
    height: 46px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  /* color bianco non viene applicato*/
  .button_news:hover {
    background-color: #ac000d;
    color: #fffff7 !important;
    border-color: #ac000d;
    width: 255px;
    height: 51px;
    font-weight: bold;
    font-size: 15px;
    transition: 0.5s;
  }
  
  .bottone_news {
    display: flex;
    flex-direction: column;
    
  }

  
  
  .button_newsfinale{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  